.navbar-brand {
	background: url('/img/crr_32.png') 10px 8px no-repeat; 
	padding-left: 50px;
}

.no-right-padding {
	padding-right: 0px;
}

.no-left-padding {
	padding-left: 0px;
}

.progress-white {
	background: #B0D1EC;
}

.pull-right-button {
	margin-right: 5px;
}

.current-track img {
	height: 100px;
	width: 100px;
}

.current-track-buttons {
	margin-top: 10px;
}

.skippers {
	display: inline;
	margin-left: 10px;
}

/* Chat */
.chat-content {
	overflow-y: scroll;
	padding-right: 5px;
}

.chat-line {
	clear:left;
}

.chat-content .chat-time {
	color: #888;
	float: left;
	font-size: 0.7em;
	padding-top: 0.47em;
	height: 100;
}
.chat-content .chat-name {
	font-weight: bold;
	
}
.chat-content .chat-name {
	font-weight: bold;
	color: #222;
}

.chat-content .chat-text {
	margin-left: 55px;
} 

.chat-line--me,
.chat-line--sys {
	font-style: italic;
}
.chat-line--me .chat-name:before {
	content:"— ";
	color: #888;
	font-weight: normal;
}

.chat-line--sys {
	color: #bbb;
}

.chat-line--sys .chat-name {
	color: #bbb;
}

/* Listeners */
.listener-count {
	background-color: #f5f5f5;
}

/* Last.fm icon */
.icon-lastfm {
	display: inline-block;
	height: 12px;
	width: 26px;
	background: url(/img/crr_scrobble_icon.png) no-repeat;
	position:relative;
    top:1px;
}

.list-group-item .icon-lastfm {
	background-position: 0 -12px;
	display: block;
	margin-top: 3px;
}