<!DOCTYPE html>
<html ng-app="crrAngular">
  <head>
    <title>Clientroomradio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-controller="MainController">
    <!-- Header -->
    <div class="navbar navbar-inverse navbar-static-top bs-docs-nav">
      <div class="container">
        <a href="/" class="navbar-brand">{{radioname}}</a>
        <div class="nav-collapse collapse bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <!--<a href="/howto">How-to</a>-->
            </li>
          </ul>
        </div>

        
        <a class="btn btn-default navbar-btn pull-right" href="/logout" ng-show="username">Log out</a>
        
      </div>
    </div>

    <!-- Login -->
    <div class="jumbotron" ng-show="username==null">
      <div class="container">
        <h1>It's Friday, Friday...</h1>
        <button class="btn btn-primary" ng-click="login()">Login via Last.fm</button>
      </div>
    </div>

    <!-- Main area -->
    <div class="container" ng-hide="username==null">

      <div class="panel">
        <div class="panel-body">
          <div class="media current-track">
            <a class="pull-left" href="#">
              <img class="media-object img-rounded" ng-src="{{currentTrack.image}}" alt="{{currentTrack.creator}} - {{currentTrack.title}}">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{currentTrack.creator}} - {{currentTrack.title}} ({{durationInText()}})</h4>
              
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{currentPositionInTrack}}" aria-valuemin="0" aria-valuemax="{{currentTrack.duration}}" ng-style="progressBarStyle()"><span class="sr-only"></span></div>
              </div>

              

              <div class="current-track-libraries">
                <i class="icon-group"></i>

                <span ng-repeat="contextUser in currentTrack.context">
                 {{contextUser.username}} ({{contextUser.userplaycount}}<span ng-show="contextUser.userloved==1"> ❤</span>)<span ng-show="$last==false">,</span>
                </span>
              </div>
              
            </div>
          </div>


          <div class="current-track-buttons">

            <button type="button" class="btn btn-default pull-right" ng-hide="loved" ng-click="love()">
              <i class="icon-heart-empty"></i> Love
            </button>
            <button type="button" class="btn btn-danger pull-right" ng-show="loved" ng-click="unlove()">
              <i class="icon-heart"></i> 
              Un-love
            </button>

            <div>
              <div class="btn-group " ng-disabled="skipped">
                <button type="button" class="btn btn-primary" ng-click="skip()" ng-disabled="skipped">
                  <i class="icon-thumbs-down"></i> Skip
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" ng-disabled="skipped">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" ng-init="messages=[
                  'Meh.', 'Not again', 'Great song, but not right now', 'I scrobbled this by accident', 'THIS IS HELL!'
                ]">
                  <li ng-repeat="message in messages"><a href="javascript:void" ng-click="skip(message)">{{message}}</a></li>
                </ul>
              </div>
             
              <p class="skippers">
                {{skippers.length}} of {{skippersNeeded()}} 
                <span class="text-muted" ng-hide="skippers.length==0">       
                  (<span ng-repeat="skipper in skippers">{{skipper}}<span ng-show="$last==false">, </span></span>)
                </span>
              </p>
            </div>

            
          </div>
        </div>
      </div>  

      <div class="row">
        <div class="col-10">

          <div class="panel" ng-controller="ChatController">
            <div class="panel-body chat-content">

            </div>
            <div class="panel-footer">
             <div class="input-group input-group-sm">
              <span class="input-group-addon">{{username}}</span>
              <input type="text" class="form-control chat-input" ng-keyup="onKeyUp()">
             </div>
            </div>
          </div>

        </div>

        <div class="col-2">
          <div class="panel">
            <div class="panel-heading">Panel heading</div>
            <div class="panel-body">
              <button type="button" class="btn btn-danger pull-right" ng-show="loved" ng-click="unlove()">
                <i class="icon-heart"></i> 
                Un-love
              </button>
            </div>

            
          </div>


          <ul class="list-group">
            <li class="list-group-item active listener-count">
              <ng-pluralize count="getUserCount()"
                 when="{'one': '1 Listener',
                     'other': '{} Listeners'}">
              </ng-pluralize>
            </li>
            <li ng-repeat="(username, bla) in users" class="list-group-item">{{username}}</li>
          </ul>

        </div>
      
    </div>

    <!-- Javascript - Libs -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>

    <!-- Javascript - Config -->
    <script src="/config.js"></script>

    <!-- Javascript - Controllers -->
    <script src="/js/controller/LoginController.js"></script>
    <script src="/js/controller/MainController.js"></script>
    <script src="/js/controller/ChatController.js"></script>

    <!-- Javascript - Services -->
    <script src="/js/services/Socket.js"></script>

    <!-- Start services -->
    <script src="/js/services.js"></script>
    <script>
      initClientRoomRadio('http://localhost:3000/sockjs');
    </script>
  </body>
</html>