<!DOCTYPE html>
<html ng-controller="MainController" ng-app="crrAngular" id="clientroomradio-com">
    <head>
        <meta charset="UTF-8" />
        <title ng:bind-template="{{isPlaying()?currentTrack.artists[0].name+' – '+currentTrack.name+' | ':''}}{{getRadioName()}}">Client Room Radio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

        <link href="css/slider.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

        <!-- tell Android we area a web app -->
        <meta name="mobile-web-app-capable" content="yes">
        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#ddc89f">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#ddc89f">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <!-- favicon -->
        <link rel="apple-touch-icon-precomposed" href="favicon/favicon-152.png">
        <meta name="msapplication-TileColor" content="#ddc89f">
        <meta name="msapplication-TileImage" content="favicon/favicon-144.png">
        <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon/favicon-152.png">
        <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon/favicon-144.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon/favicon-120.png">
        <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon/favicon-114.png">
        <!-- For first- and second-generation iPad: -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon/favicon-72.png">
        <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
        <link rel="apple-touch-icon-precomposed" href="favicon/favicon-57.png">
        <!-- Favicons targeted to any additional png sizes that you add that aren't covered above -->
        <link rel="icon" href="favicon/favicon-32.png" sizes="32x32">

    </head>
    <body ng-cloak class="{{isLoggedIn()?(isActive()?'active':'inactive'):''}}{{bingo?' bingo':''}}">

        <!-- Header -->
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse" ng-show="isLoggedIn()">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <span><img alt="CRR" src="/img/crr_40_alpha.png" width="20" height="20"/></span>
                        {{getRadioName()}}{{bingo?' - BINGO!':''}}
                    </a>
                </div>
    
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="navbar-text"><a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/clientroomradio">@clientroomradio</a></li>
                        <li class="navbar-text"><iframe src="https://ghbtns.com/github-btn.html?user=clientroomradio&repo=clientroomradio&type=watch&count=false&v=2" frameborder="0" scrolling="0" width="60px" height="20px"></iframe></li>
                    </ul>
                    <ul class="nav navbar-nav" ng-show="isLoggedIn()" >
                        <li><a data-toggle="modal" href="#spotifySearch">Play Track</a></li>
                        <li><a href="javascript:void(0)" ng-click="endOfDayRequest();">Stop CRR</a></li>
                        <li ng-show="NotificationPermissionNeeded()">
                            <a href="javascript:void(0)" ng-click="requestNotificationPermissions();">Enable Notifications</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" ng-click="logout();">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main area -->
        <!-- do something with the socket ready state e.g. ng-show="getSocketReadyState()===1" -->
        <div ng-cloak ng-show="config">
            <div class="col-sm-12">
                <div class="well" ng-hide="isLoggedIn()">
                    <div ng-controller="VotingController" ng-init="initWithSession()">
                        <div ng-show="isVoting()">
                            <div ng-hide="hasBeenDecided()">
                                <h1>They're voting, voting…</h1>
                                <span>Will current users let you in? You'll know in {{remainingSeconds}} seconds...</span>
                            </div>
                            <div ng-show="hasBeenDecided()&&decision==='no'">
                                <h1>They voted, voted…</h1>
                                <span >You weren't allowed in this time. Don't feel bad. Maybe no one saw. Try again?</span>
                            </div>
                        </div>
                        <div ng-hide="isVoting()">
                            <h1>It’s Friday, Friday…</h1>
                        </div>               
                    </div>
                </div>
                <div class="well current-track">
                    <div class="current-track-info clearfix">
                        <img class="pull-left img-thumbnail" ng-src="{{(isPlaying()&&currentTrack.image)?currentTrack.image.replace('http://img2-ak.lst.fm/', 'https://secure-img2.last.fm/'):'/img/crr_128.png'}}" alt="{{currentTrack.artists[0].name}} – {{currentTrack.name}}">

                        <h4 class="media-heading" ng-show="isPlaying()">
                            <a target="_blank" ng-href="{{currentTrack.extension.artistpage}}">{{currentTrack.artists[0].name}}</a>
                            –
                            <a target="_blank" ng-href="{{currentTrack.extension.trackpage}}">{{currentTrack.name}}</a>
                            ({{durationInText()}})
                        </h4>

                        <div  ng-hide="isPlaying()">
                            <h4 class="media-heading" ng-show="getActiveUserCount()===0">Nothing playing at the moment.</h4>
                            <h4 class="media-heading" ng-hide="getActiveUserCount()===0">Loading next track <i class="fa fa-spinner fa-pulse"></i></h4>
                        </div>

                        <p ng-hide="isLoggedIn()||isPlaying()">{{getActiveUserCount()===0?"Join the party to get started.":"Join the party!"}}</p>

                        <div class="progress" ng-show="isPlaying()||getActiveUserCount()>0">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{currentPositionInTrack}}" aria-valuemin="0" aria-valuemax="{{currentTrack.duration}}" ng-style="progressBarStyle()"></div>
                        </div>

                        <div id="audio-player"></div>

                        <div ng-show="isPlaying()||getActiveUserCount()>0">
                            <i class="fa fa-headphones"></i> 
                            <span ng-repeat="contextUser in currentTrack.context">
                                <a href="http://www.last.fm/user/{{contextUser.username}}/library/music/{{currentTrack.artists[0].name}}/_/{{currentTrack.name}}" target="_blank">{{contextUser.username}}</a>
                                ({{contextUser.userplaycount}}<span ng-show="contextUser.userloved==1"> <i class="fa fa-heart"></i></span>)<span ng-show="$last==false">,</span>
                            </span>
                        </div>
                        <div ng-show="isPlaying()||getActiveUserCount()>0">
                            <i class="fa fa-thumbs-down"></i>
                            <span class="skippers">
                                <span class="text-muted" ng-hide="skippers.length==0">
                                    (<span ng-repeat="skipper in skippers">{{skipper}}<span ng-show="$last==false">, </span></span>)
                                </span>
                                <span>{{skippers.length}} of {{skippersNeeded()}} needed to skip</span>
                            </span>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="pull-left current-track-buttons">
                            <button class="btn btn-primary" ng-hide="isLoggedIn()" ng-disabled="!config" ng-click="login()">Login via Last.fm</button>
                            <button type="button" class="btn btn-primary btn-skip btn-tooltip" ng-click="skip()" ng-disabled="!isActive() || skipped" ng-show="isLoggedIn()" data-toggle="tooltip" title="… or “?skip explanation“ in the chat">
                                <i class="fa fa-thumbs-down"></i> Skip
                            </button>
                            <button type="button" class="btn btn-danger btn-tooltip" ng-show="isLoggedIn()&&loved" ng-click="unlove()" data-toggle="tooltip" title="Un-love this track">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" class="btn btn-default btn-tooltip" ng-show="isLoggedIn()&&!loved"ng-click="love()">
                                <i class="fa fa-heart-o"></i>
                            </button>
                        </div>

                        <div class="pull-right" ng-show="isLoggedIn()">
                            <button type="button" class="btn btn-default {{isActive()?'btn-success':'btn-danger'}} btn-tooltip" ng-click="setActive(!isActive())" data-toggle="tooltip" title="Sit out / in">
                                <i class="{{isActive()?'fa fa-sign-out':'fa fa-sign-in'}}"></i>
                            </button>

                            <button type="button" ng-show="isScrobbling()" class="btn btn-default btn-success btn-tooltip" ng-click="setScrobbling(false)" ng-disabled="!isActive()" data-toggle="tooltip" title="Turn scrobbling off">
                                <i class="fa icon-lastfm"></i>
                            </button>

                            <button type="button" ng-hide="isScrobbling()" class="btn btn-default btn-danger btn-tooltip" ng-click="setScrobbling(true)" ng-disabled="!isActive()" data-toggle="tooltip" title="Turn scrobbling on">
                                <i class="fa icon-lastfm"></i>
                            </button>

                            <button type="button" class="btn btn-default btn-tooltip btn-volume" ng-click="muted=!muted">
                                <i class="{{muted?'fa fa-volume-off':'fa fa-volume-up'}}"></i>

                                <div class="volume-inline-block" ng-click="clickOnVolumeBar()">
                                    <div class="volume">
                                        <input type="text" class="volume-slider-init" value="" data-slider-min="0" data-slider-max="1" data-slider-step="0.02" data-slider-value="1" data-slider-orientation="vertical" data-slider-selection="after" data-slider-tooltip="hide">
                                    </div>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-show="isLoggedIn()" class="col-md-10 col-xs-12">
                <div class="panel panel-default" ng-controller="ChatController">
                    <div class="panel-body chat-content"></div>
                    <div class="panel-footer">
                     <div class="input-group input-group-sm">
                        <span class="input-group-addon">{{config.username}}</span>
                        <input type="text" class="form-control chat-input" ng-keyup="onKeyUp()">
                     </div>
                    </div>
                </div>
            </div>
            <div ng-show="isLoggedIn()" class="col-md-2 col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <ng-pluralize
                             count="getActiveUserCount()"
                             when="{'one': '1 Listener', 'other': '{} Listeners'}">
                        </ng-pluralize>
                    </div>
                    <ul class="list-group listener-list">
                        <li ng-repeat="(username, user) in users" class="clearfix list-group-item {{user.active&&user.allowed?'user--active':'user--inactive'}}">
                            <span class="pull-left">
                                <img class="icon-user img-circle" ng-src="{{user.image?user.image.replace('http://img2-ak.lst.fm/', 'https://secure-img2.last.fm/'):'/img/crr_40_alpha.png'}}"/>
                                <a target="_blank" href="http://www.last.fm/user/{{username}}">{{username}}</a>
                            </span>
                            <i ng-show="user.active && user.scrobbling && user.allowed" class="pull-right icon-lastfm"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Modal for spotify search -->

        <div class="modal fade" id="spotifySearch" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true" ng-controller="SpotifySearchController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Search for spotify track</h4>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control spotify-search-input" ng-model="searchTerm" ng-change="update()" placeholder="Search term">

                        <div class="list-group">
                            <a  ng-href="#"
                                class="list-group-item {{choosenTrack.href == track.href?'active':''}}"
                                ng-repeat="track in tracks"
                                ng-click="clickTrack(track)">
                                {{track.artists[0].name}} - {{track.name}}
                            </a>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-disabled="!choosenTrack" class="btn btn-primary" data-dismiss="modal" ng-click="request()">Request</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->



        <!-- Javascript - Libs -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script src="/js/lib/sockjs-0.3.min.js"></script>
        <script src="/js/lib/jquery.cookie.js"></script>
        <script src="/js/lib/jquery.jplayer.min.js"></script>
        <script src="/js/lib/bootstrap-slider.js"></script>
        <script src="/js/lib/WebNotification.js"></script>
        <script src="/js/lib/twitter.widgets.js"></script>

        <!-- Javascript - Controllers -->
        <script src="/js/controller/MainController.js"></script>
        <script src="/js/controller/ChatController.js"></script>
        <script src="/js/controller/VotingController.js"></script>
        <script src="/js/controller/SpotifySearchController.js"></script>

        <!-- Javascript - Services -->
        <script src="/js/services/Socket.js"></script>
        <script src="/js/services/NotificationManager.js"></script>

        <!-- Start services -->
        <script src="/js/services.js"></script>
        <script>initClientRoomRadio('/sockjs');</script>
    </body>
</html>
